
<div class="container">
  <h1 class="text-center">Lists</h1>
  <hr>
  <h2>{{title}}</h2>
<ul class="list-group">
  <li 
  *ngFor="let skill of skills; let i = index"
  class="list-group-item">
   {{i + 1}} {{skill}}
  </li>
</ul>

<hr>
<h2>
  {{title2}}
</h2>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let Country of CountriesToVisit">
    {{Country}}
  </li>
</ul>

<hr>
<h2>
  {{title3}}
</h2>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let thing of ThingsToDo">
    {{thing}}
  </li>
</ul>

<hr>
<h2>
  {{title4}}
</h2>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let t of FuturisticTechnologies">
    {{t}}
  </li>
</ul>

<hr>
<h2>
  {{title5}}
</h2>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let j of JunglesToVisit">
    {{j}}
  </li>
</ul>


<h1 class="text-center">Table</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Sr.No</th>
      <th>Name</th>
      <th>country</th>
      <th>position</th>
      <th>Active Years</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of LegendaryFootballPlayers let i = index">
      <td>{{i + 1}}</td>
      <td>{{player.name}}</td>
      <td>{{player.country}}</td>
      <td>{{player.position}}</td>
      <td>{{player.activeYears}}</td>
    </tr>
  </tbody>
</table>

</div>
